<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271617263139-4bj266v6j1p9vtin04irv8ee9th1bf7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271617263139-4bj266v6j1p9vtin04irv8ee9th1bf7a</string>
	<key>API_KEY</key>
	<string>AIzaSyBPx90BN8NHHem0HLfc5rVhfKGarTq9DxI</string>
	<key>GCM_SENDER_ID</key>
	<string>271617263139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fakeStore</string>
	<key>PROJECT_ID</key>
	<string>hahatea-7e3c1</string>
	<key>STORAGE_BUCKET</key>
	<string>hahatea-7e3c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271617263139:ios:8f25d1f4fc3cb613c85396</string>
</dict>
</plist>